@font-face {
  font-family: "iconfont"; /* Project id 3489085 */
  src: url('iconfont.woff2?t=1656467912258') format('woff2'),
       url('iconfont.woff?t=1656467912258') format('woff'),
       url('iconfont.ttf?t=1656467912258') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-position:before {
  content: "\e64c";
}

.icon-bell:before {
  content: "\e628";
}

.icon-fenxiang:before {
  content: "\e600";
}

.icon-home1:before {
  content: "\e6b8";
}

.icon-cart-full:before {
  content: "\e746";
}

.icon-cart-Empty:before {
  content: "\e7b2";
}

.icon-my:before {
  content: "\e78b";
}

.icon-order:before {
  content: "\e7b3";
}

